{% extends "base.html" %}

{% block title %}
Admin - Erebuild
{% endblock %}

{% block content %}

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownClassesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     View Classes
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownClassesButton">

    {% for class_id in classes %}
      <a class="dropdown-item" href="#">{{class_id}}</a>
    {% endfor %}

    </div>
  </div>


{% endblock %}

